.big-checkbox[b-sg8xpxnoup] {
    transform: scale(1.5,1.5);
}

.header[b-sg8xpxnoup]{
    display: flex;
    font-weight: 600;
    text-align:center;
    border-bottom: 1px solid lightgray;
    margin-bottom: 6px;
    padding-bottom: 6px;
}

.row[b-sg8xpxnoup]{
    display: flex;
    padding: 6px;
}

.col[b-sg8xpxnoup] {
    flex: 1;
}

.col-visible[b-sg8xpxnoup] {
    text-align: center;
}